APP_ENV=local
POSTGRES_DB=mdp
POSTGRES_USER=mdp_user
POSTGRES_PASSWORD=__PG_PWD__
DATABASE_URL=postgresql+psycopg://mdp_user:__PG_PWD__@postgres:5432/mdp
JWT_SECRET_KEY=__JWT__
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CONNECTION_SECRET_KEY=__CONN__
NEXT_PUBLIC_API_URL=
